.order-form {
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    label {
      font-size: var(--font-size-small);
      font-weight: 600;
      margin-bottom: 0.4rem;
      display: block;
    }
  }

  .custom-button {
    margin-top: 4rem;
    width: 100%;
  }
}
