.empty-list {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    color: var(--primary-color);
  }

  p {
    margin-top: 1.6rem;
    text-align: center;
    color: var(--gray-3);

    strong {
      color: var(--primary-color);
    }
  }
}
